// Define variables for your color scheme

// For example:
// RED RED RED RED RED RED RED RED RED
$lightcoral: #F08080;
$tomato: #FF6347;
$red: #FF0000;
$indianred:#CD5C5C;
$crimson: #DC143C;
$firebrick: #b32424;
$gradientred: #b82727;
$brown: #A52A2A;
$darkred: #8B0000;
$maroon: #800000;

//COLOR RED CLASSIC
$classicred: #AC0C0C;
$reddeux: rgba(172, 12, 12, 0.2);
$redun: rgba(172, 12, 12, 0.1);
$redtrois: rgba(172, 12, 12, 0.3);
$redquatre: rgba(172, 12, 12, 0.4);
$redcinq: rgba(172, 12, 12, 0.5);
$redsix: rgba(172, 12, 12, 0.6);
$redsept: rgba(172, 12, 12, 0.7);
$redhuit: rgba(172, 12, 12, 0.8);
$rednine: rgba(172, 12, 12, 0.9);
$gradientred: #C13131;

// GRAY GRAY GRAY GRAY GRAY GRAY
$white: #F5F5F5; //BACKGROUYND ONLY BACKGROUND ONLY
$gainsboro: #DCDCDC; //BODY ONLY BODY ONLY
$lightgray: #D3D3D3; //BODY ONLY BODY ONLY
$silver: #C0C0C0; //BODY ONLY BODY ONLY
$darkgray: #A9A9A9; //BODY ONLY BODY ONLY (H5etc)
$gray: #808080; //CONTRAST ONLY CONTRAST ONLY
$dimgray: #696969; //CONTRAST ONLY CONTRAST ONLY
$lightslategray: #778899; //CONTRAST ONLY CONTRAST ONLY
