<div class="user-list-container scrollbar-custom">
    <h2 class="user-list-title">Other events from this organiser</h2>
  <ul id="attendee-list">

    <% organiser.events.each do |event| %>

      <li>
        <%= render "users/event_row", event: event %>
      </li>

    <% end %>
  </ul>
</div>
