<div class="user-list-container scrollbar-custom animated fadeIn">
    <h2 class="user-list-title">Other events from <%= organiser.name %></h2>
  <ul id="attendee-list">

    <% organiser.events.each do |event| %>

      <li>
        <%= render "users/event_row", event: event %>
      </li>

    <% end %>
  </ul>
</div>
