<p class="event-title"><%= organiser.name %></p>
<p class="event-type"><%= organiser.organiser_type.name %></p>
<p class="event-description"><%= organiser.description %></p>
<p class="event-adress"><%= organiser.address %></p>

