<div class="modal fade" id="exempleModal" tabindex="-1" role="dialog" aria-labelledby="editUserModallabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="gradient-square">
        <h5 id="editUserModallabel" class="gradient-square-text">Edit your profile</h5>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="col-md">
            <div class="input-group">
              <div class="input-group-addon"></div>
            </div>
          </div>
        </div>
        <%= render "edit_form" %>
      </div>
    </div>
  </div>
</div>