<div class="user-list-container scrollbar-custom animated fadeIn" id="profile-events-list">
  <% if @user == current_user %>
    <h2 class="user-list-title">Events you want to go</h2>
  <% else %>
    <h2 class="user-list-title">Events
      <%= @user.name %>
      wants to go</h2>
  <% end %>
  <ul id="attendee-list">

    <% @user.events.each do |event| %>

      <li>
        <%= render "event_row", event: event %>
      </li>

    <% end %>
  </ul>
</div>
