function changeBtn(){ document.getElementById("event-attendee-btn").outerHTML = '<p class="event-btn red">You registered to the event</p>' }

function addUserList(attendeeRowHtml){
  document.getElementById("attendee-list").insertAdjacentHTML('afterbegin', attendeeRowHtml);
}

function flash(flashHTML){
  document.querySelector("body").insertAdjacentHTML("beforeend", flashHTML)
}


<% if @attendee.errors.any? %>
<% else %>
  changeBtn()
  addUserList('<%= j render "events/attendee_row", user: @attendee %>')
  flash('j <div class="alert alert-info alert-dismissible fade show m-1" role="alert">You are now register to <%= @attendee.events.last.name %> <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>')
<% end %>
