<div class="user-list-container scrollbar-custom" id="attendee-list-event">
  <h2 class="user-list-title">Attendee list</h2>
  <ul id="attendee-list">

    <% @event.users.each do |attendee| %>

      <li>
        <%= render "attendee_row", user: attendee %>
      </li>

    <% end %>
  </ul>
</div>
