<div id="header-box">
  <div id="header-image" style="background-image: <%= url_for(@event.image) %>; background-size: cover;">
    <div id="header-filter">
      <div id="header-title"><%= event.name %></div>
      <div id="header-title-line"></div>
    </div>
  </div>
</div>