<div class="header-box">
  <div class="header-image" style="background-image:linear-gradient(rgba(172,12,12,0.1),rgba(172,12,12,0.1)), url('<%= url_for(@event.image) %>'); background-size: cover;">
    <div>
      <h1 class="header-title"><%= event.name %></h1>
      <div class="header-title-line"></div>
    </div>
  </div>
</div>