<div>
  <div class="header-image" style="background-image:linear-gradient(rgba(70,6,6,0.5),rgba(70,6,6,0.5)), url('<%= url_for(@event.image) %>'); background-size: cover;">
    <div>
      <h1 class="header-title"><%= event.name %></h1>
      <div class="header-title-line"></div>
    </div>
  </div>
</div>