<div>
  <% if event.image.attached? %>
  <div class="header-image" style="background-image:linear-gradient(rgba(40,0,0,0.3),rgba(40,0,0,0.3)), url('<%= url_for(@event.image) %>'); background-size: cover;">
    <% else %>
      <div class="header-image" style="background-image:linear-gradient(rgba(172,12,12,0.1),rgba(172,12,12,0.1)), url('<%= image_path('profile_image_default.jpeg') %>'); background-size: cover;">
      <% end %>
    <div>
      <h1 class="header-title"><%= event.name %></h1>
      <div class="header-title-line"></div>
    </div>
  </div>
</div>
