<ul class="ul-interest">
  <% interest_categories.each do |interest_category| %>
    <ul class="ul-interest-category">
      <li class="interest-category"><%= interest_category.name %></li>
      <% interest_category.interests.each do |interest| %>
        <li class="interest"><%= interest.name %></li>
      <% end %>
    </ul>
  <% end %>
</ul>