<div class="filter-banner">
  <div class="interests-selection">
    <div class="input-field col s4">
      <select multiple="multiple">
        <option value="" disabled="disabled" selected="selected">Choose an interest category</option>
        <% @interest_categories.each do |interest_category| %>
          <option value="<%= interest_category.id %>"><%= interest_category.name %></option>
        <% end %>
      </select>
    </div>
    <h1 class="filter-arrow">></h1>
    <div class="input-field col s4">
      <select multiple="multiple">
        <option value="" disabled="disabled" selected="selected">Choose an interest</option>
        <% @interest_categories.each do |interest_category| %>
          <option value="<%= interest_category.id %>"><%= interest_category.name %></option>
        <% end %>
      </select>
    </div>
    <h1 class="filter-arrow">></h1>
  </div>
  <div class="date-selection">
    <input type="text" class="datepicker" value="Choose a date">
  </div>
</div>