<div>
  <div class="header-home-image" style="background-image:linear-gradient(rgba(40,0,0,0.3),rgba(40,0,0,0.3)), url('<%= image_path('montreal-skyline.jpg') %>'); background-size: cover;">
    <div class="header-box">
      <h1 class="header-home-title">Share{in}</h1>
      <div class="header-home-title-line"></div>
      <div id='geocoder' class="geocoder"></div>
    </div>
  </div>
</div>
