<div id="header-box">
  <div id="header-image" style="background-image: url('<%= image_path('homepage-image.png') %>'); background-size: cover;">
    <div id="header-title">Share{in}</div>
    <div id="header-title-line"></div>
    <div id='geocoder' class='geocoder'></div>
  </div>
</div>
