<div class="header-box">
  <div class="header-home-image" style="background-image: url('<%= image_path('homepage-image.png') %>'); background-size: cover;">
    <div>
      <h1 class="header-home-title">Share{in}</h1>
      <div class="header-home-title-line"></div>
    </div>
    <div class='geocoder'></div>
  </div>
</div>
