<div id="header-box">
  <div id="header-image" style="background-image:linear-gradient(rgba(172,12,12,0.2),rgba(172,12,12,0.2)), url('<%= image_path('home_header_no_filter.png') %>'); background-size: cover;">
    <div id="header-title">Share{in}</div>
    <div id="header-title-line"></div>
    <div id='geocoder' class='geocoder'></div>
  </div>
</div>