<div>
  <div class="header-home-image" style="background-image:linear-gradient(rgba(40,0,0,0.3),rgba(40,0,0,0.3)), url('<%= image_path('montreal-skyline.jpg') %>'); background-size: cover;">
    <div class="header-white-box">
      <div class="home-logo">
        <%= image_tag("logo1.png") %>
      </div>
        <div class="header-home-title-line">
          <h3>Enter your adress and find all the events near you!</h3>
        </div>
        <div id='geocoder' class="geocoder"></div>
      </div>
    </div>
  </div>
</div>
