<% if event.image.attached? %>
  <%= image_tag url_for(event.image), class:"card-img-top" %>
<% end %>
<h4><%= event.name %></h4>
<button>
  <%= link_to "Learn More", organiser_event_path(event.organiser, event) %>
</button>
