<div class="animated fadeIn" id= "mapcard" data-category="<%= event.interests.pluck(:name) %>">
  <% if event.image.attached? %>
    <%= image_tag url_for(event.image), class:"card-img-top" %>
  <% end %>
  <p class="info-window-organiser"><%= event.organiser.name %></p>
  <h4 class="info-window-event"><%= event.name %></h4>
</div>
