<div id='geocoder' class='geocoder'></div>
<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-8">
      <%= render "map" %>
    </div>
  </div>
</div>
<%= render "map_event_filter", interest_category: @interest_category %>
<%= render "map_event_modal", event: event %>