<%= render "events/home_header" %>
<div class="container-custom">
  <%= render "filter" %>
  <%= render "map", markers: @markers %>
</div>
<!-- <script> setTimeout(() => { initFilter(); createMessageChannel(); }, 5000) </script> -->