<div>
  <div class="header-image" style="background-image:linear-gradient(rgba(50,0,0,0.3),rgba(50,0,0,0.3)), url('<%= image_path('message-picture.jpg') %>'); background-size: cover;">
    <div>
      <h1 class="header-title">Your messages</h1>
      <div class="header-title-line"></div>
    </div>
  </div>
</div>