<div class="user-list-container scrollbar-custom">
  <h2 class="user-list-title">Contact list</h2>
  <ul>
    <% if existing_chats_users %>
      <% existing_chats_users.each do |other_user| %>
        <% if other_user != current_user %>
          <li>
            <%= render "user_row", user: other_user %>
          </li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
</div>