<div class="user-list-container scrollbar-custom interest-event-list animated fadeInUp" id="<%= id %>">
    <h2 class="user-list-title">Other events related to <%= interest.name %></h2>
  <ul>

    <% interest.events.each do |event| %>

      <li>
        <%= render "users/event_row", event: event %>
      </li>

    <% end %>
  </ul>
</div>
