#body-card{
  position: absolute;
  width: 90%;
  height: 722px;
  left: 18px;
  top: 796px;

  background: #FFFFFF;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

#card-avatar{
  position: absolute;
  width: 180px;
  height: 180px;
  left: 614px;
  top: 702px;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  border: 1px solid rgba(172, 12, 12, 0.8);
  box-sizing: border-box;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
}
