#organiser-card{
  display: none;
}

#event-details-btn{
  position: absolute;
  left: 18%;
  top: 59vh;
  font-family: $merriweather;
  font-size: 25px;
  color: $redcinq;
  border-bottom: 1px solid $classicred;
  padding-bottom: 50px;
}

#organiser-details-btn{
  position: absolute;
  right: 18%;
  top: 59vh;
  font-size: 25px;
  font-family: $merriweather;
  color: $redcinq;
  border-bottom: 1px solid $classicred;
  padding-bottom: 50px;
}

#event-details-btn{
  -webkit-transition-duration: 0.33s;
       -o-transition-duration: 0.33s;
          transition-duration: 0.33s;
}

#event-details-btn:hover{
  -webkit-transform: scale(1.022);
      -ms-transform: scale(1.022);
          transform: scale(1.022);
}

#event-details-btn:active{
  -webkit-transition-duration: 0.1s;
       -o-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

#organiser-details-btn{
  -webkit-transition-duration: 0.33s;
       -o-transition-duration: 0.33s;
          transition-duration: 0.33s;
}

#organiser-details-btn:hover{
  -webkit-transform: scale(1.022);
      -ms-transform: scale(1.022);
          transform: scale(1.022);
}

#organiser-details-btn:active{
  -webkit-transition-duration: 0.1s;
       -o-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.body-card{
  padding: 48px;
  display: block;
  margin: -30px auto 30px auto;
  width: 90%;
  // height: 100vh;
  background: #fffafa;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  z-index: 8
}

#left-part {
  width:40%;
}

.event-title {
  text-align: left;
  font-size: 40px;
  color: $redsept;
  font-family: Alegreya;
  font-weight: bold;
}

.event-description {
  margin-top:2%;
  font-size:25px;
  font-weight: 250;
  font-family: $alegreyabody;
  color: $darkgray;
}

.event-date {
  font-size:28px;
  font-family: $merriweather;
  color:$redcinq;
}

.event-adress {
  font-size: 30px;
  font-family: $merriweather;
  color:$redcinq;
}


#right-part{
 width:100%;
 display:inline-block;
}

.profile-name {
  font-size: 40px;
  color:$redsept;
  font-family: Alegreya;
  font-weight: bold;
}

.event-type {
  font-size: 28px;
  color:$silver;
  font-family:$alegreyabody;
}

.profile-bio {
  font-size: 27px;
}

.event-interest {
  font-size:23px;
  color:$reddeux;
  font-family:$alegreyabody;
}
