#organiser-card{
  display: none;
}

#event-details-btn{
  position: absolute;
  left: 18%;
  top: 60vh;
  font-family: $merriweather;
  font-size: 25px;
  color: $redcinq;
  border-bottom: 1px solid $classicred;
}

#organiser-details-btn{
  position: absolute;
  right: 18%;
  top: 60vh;
  font-size: 25px;
  font-family: $merriweather;
  color: $redcinq;
  border-bottom: 1px solid $classicred;
}

#event-details-btn{
  -webkit-transition-duration: 0.33s;
       -o-transition-duration: 0.33s;
          transition-duration: 0.33s;
}

#event-details-btn:hover{
  -webkit-transform: scale(1.022);
      -ms-transform: scale(1.022);
          transform: scale(1.022);
}

#event-details-btn:active{
  -webkit-transition-duration: 0.1s;
       -o-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

#organiser-details-btn{
  -webkit-transition-duration: 0.33s;
       -o-transition-duration: 0.33s;
          transition-duration: 0.33s;
}

#organiser-details-btn:hover{
  -webkit-transform: scale(1.022);
      -ms-transform: scale(1.022);
          transform: scale(1.022);
}

#organiser-details-btn:active{
  -webkit-transition-duration: 0.1s;
       -o-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

.body-card{
  padding: 48px;
  display: block;
  margin: -30px auto 30px auto;
  width: 90%;
  // height: 100vh;
  background: #fffafa;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  z-index: 8
}

#left-part {
  width:40%;
}

.event-title {
  text-align: left;
  font-size: 40px;
  color: $redsept;
  font-family: Alegreya;
  font-weight: bold;
}

.event-description {
  margin-top:2%;
  font-size:25px;
  font-weight: 250;
  font-family: $alegreyabody;
  color: $darkgray;
}

.event-date {
  font-size:28px;
  font-family: $merriweather;
  color:$redcinq;
}

.event-adress {
  font-size: 30px;
  font-family: $merriweather;
  color:$redcinq;
}

.event-btn{
  display: inline-block;
  text-decoration: none;
  padding: 0.6rem 1.1rem;
  background-color: transparent;
  transition: all ease .3s;

  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;

}

.event-btn *{
   transition: all ease .3s;
}

.event-btn:hover, .event-btn:hover *{
  color: white;
}

.red{
  border: 1px solid $classicred;
  color: $classicred;
  margin-left: 60%;
  width: auto;
}

.ired{
  border: 1px solid $classicred;
  color: $classicred;
}

.red:hover{
  background-color: $classicred;
}

.ired:hover{
  background-color: $classicred;
}

.red *{
  color: $white;
}

.ired *{
  color:$white;
}


#right-part{
 width:100%;
 display:inline-block;
}

.profile-name {
  font-size: 40px;
  color:$redsept;
  font-family: Alegreya;
}

.profile-bio{
  font-size: 28px;
  font-family:$alegreyabody;
}

.event-type {
  font-size:27px;
  color:$silver;
  font-family:$alegreyabody;

}
