.event-btn{
  display: inline-block;
  text-decoration: none;
  padding: 0.6rem 1.1rem;
  background-color: transparent;
  transition: all ease .3s;
  font-style: $merriweather;
  font-size: 1.1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 0;
}

.message-btn{
  display: inline-block;
  text-decoration: none;
  padding: 0.6rem 1.1rem;
  background-color: transparent;
  transition: all ease .3s;
  text-align: center;
  margin-right: 58%;
  width: 50%;
  border: 1px solid $classicred;
  color: $classicred;
  font-weight: bold;
  font-size: 1.2rem;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 0;
  margin-top: 17px;
}

.message-btn a{
  font-size: 1.2rem;
}

.message-icon{
  font-size: 1.5rem;
  padding-left: 15px;
}

.event-btn *{
   transition: all ease .3s;
}

.message-btn *{
   transition: all ease .3s;
}

.message-btn:hover, .message-btn:hover *{
  background-color: $classicred;
  color: white;
}


.btn{
  z-index: 999999999999;
}

.redi{
  text-align: center;
  border: 1px solid #AC0C0C;
  color: white;
  font-weight: bold;
  background-color: #AC0C0C;
}

.redi:hover{
  background-color: $classicred;
  color: white;
}

.pad-left-none{
  margin-left: -1%;
}

.ired{
  text-align: center;
  // margin-right: 58%;
  // width: 42%;
  border: 1px solid $classicred;
  color: $classicred;
  font-weight: bold;
  font-family: $merriweather ;
  margin-bottom: 0;
}

.red:hover{
  background-color: $classicred;
  color: white;
}

.ired:hover{
  background-color: $classicred;
  color: white;
}

.red *{
  color: $white;
}

//.ired *{
//  color:$white;
//}

button:focus {
  outline: none;
  background-color: $classicred;
}

#profile-details-btn{
  position: absolute;
  left: 18%;
  top: 59vh;
  font-family: $merriweather;
  font-size: 25px;
  color: $classicred;
  border-bottom: 1px solid $classicred;
  padding-bottom: 50px;
}

#follow-details-btn{
  position: absolute;
  right: 13%;
  top: 59vh;
  font-size: 25px;
  font-family: $merriweather;
  color: $classicred;
  border-bottom: 1px solid $classicred;
  padding-bottom: 50px;
}

#event-details-btn{
  position: absolute;
  left: 18%;
  top: 59vh;
  font-family: $merriweather;
  font-size: 25px;
  color: $classicred;
  border-bottom: 1px solid $classicred;
  padding-bottom: 50px;
}

#organiser-details-btn{
  position: absolute;
  right: 18%;
  top: 59vh;
  font-size: 25px;
  font-family: $merriweather;
  color: $classicred;
  border-bottom: 1px solid $classicred;
  padding-bottom: 50px;
}

#event-details-btn{
  -webkit-transition-duration: 0.33s;
       -o-transition-duration: 0.33s;
          transition-duration: 0.33s;
}

#event-details-btn:hover{
  -webkit-transform: scale(1.022);
      -ms-transform: scale(1.022);
          transform: scale(1.022);
}

#event-details-btn:active{
  -webkit-transition-duration: 0.1s;
       -o-transition-duration: 0.1s;
          transition-duration: 0.1s;
}

#organiser-details-btn{
  -webkit-transition-duration: 0.33s;
       -o-transition-duration: 0.33s;
          transition-duration: 0.33s;
}

#organiser-details-btn:hover{
  -webkit-transform: scale(1.022);
      -ms-transform: scale(1.022);
          transform: scale(1.022);
}

#organiser-details-btn:active{
  -webkit-transition-duration: 0.1s;
       -o-transition-duration: 0.1s;
          transition-duration: 0.1s;
}
