.event-btn{
  display: inline-block;
  text-decoration: none;
  padding: 0.6rem 1.1rem;
  background-color: transparent;
  transition: all ease .3s;

  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;

}

.event-btn *{
   transition: all ease .3s;
}

.event-btn:hover, .event-btn:hover *{
  color: white;
}


.red{
  border: 1px solid $classicred;
  color: $white;
  font-weight: bold;
  background-color: $classicred;
  margin-left: 60%;
  width: auto;
}

.ired{
  border: 1px solid $classicred;
  color: $classicred;
  font-weight: bold;
}

.red:hover{
  background-color: $classicred;
}

.ired:hover{
  background-color: $classicred;
}

.red *{
  color: $white;
}

.ired *{
  color:$white;
}

button:focus {
  outline: none;
  background-color: $classicred;
}
