.simple-btn {
  width: 200px;
  border: 3px solid #AC0C0C;
  box-sizing: border-box  ;
  border-radius: 8px;
  padding: 5px;
  ont-family: Alegreya;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #AC0C0C;
  color: #FFFFFF;
  box-shadow: 0.5px 1px 2px hsla(0, 0%, 20%, 1);
  display: center;
}

.simple-btn:hover {
  border: 3px solid #AC0C0C;
  box-sizing: border-box  ;
  border-radius: 8px;
  padding: 5px;
  ont-family: Alegreya;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 27px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #FFFFFF;
  color: #AC0C0C;
  transform: translateY(-2px);
  box-shadow: 2px 2px 5px hsla(0, 0%, 20%, 1);
}
