h1{
  font-family: $alegreyatitle;
  color: $classicred;
}

h2 {
  font-family:$alegreyatitle;
  color: $redsept;
}

h3 {
  font-family: $merriweather;
  color: $redcinq
}

h4 {
  font-family:$merriweather;
  color: $redquatre;
}

h5 {
  font-family:$lora;
  color: $classicred;
}

h6 {
  font-family:$lora;
  color: $silver;
}

p{
  font-family: $alegreyabody;
  color: $silver;
}

a {
  font-family:$merriweather;
  color:$redquatre;
}

i {

}
