.myFooter {
  display: flex;
  flex-flow: row wrap;
}

footer {
  background: linear-gradient(-45deg, #C13131, #AC0C0C);
  font-family: 'Raleway', sans-serif;
  color: rgb(0, 0, 0);
  bottom: 0;
  width: 90%;
  height: 50px;
  border-radius: 4px 4px 0 0;
  margin: auto;
  margin: 10px 5% 0 5%;
}
.footer-icons {
  text-align: center;
  font-size: 20px;
  letter-spacing: 5px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 15px;
}

.footer-bottom {
  text-align: center;
  color: $white;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 10px;
  margin-bottom: 0;
}

#footer-words {
  font-size:24px;
  color: $white;
}
a {
  text-decoration: none;
}
// a:visited, a:focus{
//   color: white;
// }

a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.generic-anchor {
  color:white;
}

.footer-sentence {
  font-size: 14px;
  margin-bottom: 0px;
}
