
#header-title{
  position: absolute;
  left: 30.75%;
  right: 30.75%;
  top: 20.12%;
  bottom: 50.06%;
  text-align: center;
  font-family: Damion;
  font-style: normal;
  font-weight: normal;
  font-size: 90px;
  line-height: 124px;
  text-align: center;
  color: #FFFFFF;
}

#header-title-line{
  position: absolute;
  left: 45.22%;
  right: 45.22%;
  top: 33.87%;
  bottom: 66.13%;
  border: 1px solid #FFFFFF;
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.25);
}

#header-image{
  height: 100vh;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

#header-filter{
  background: rgba(172, 12, 12, 0.06);
  mix-blend-mode: normal;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
}

#header-box{
  // position: relative;
  width: 100%;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
}
