.container-custom{
  margin: -30px auto 30px auto;
  width: 90%;
}

.header-white-box{
  //width:600px;
  height:460px;
  // left:30%;
  // right:30%;
  top:30%;
  position:absolute;
  border-radius:5px;
  @include box-shadow(0 20px 30px rgba(0,0,0,.6));
  border:1px solid rgba(255,255,255,.3);
  padding:20px;
  text-align: center;
  text-shadow:0 1px 1px rgba(0,0,0,.4);
  // display: flex;
  transition: box-shadow .3s ease;
  background-color: $white;

  &:active{
    cursor:move;
    @include box-shadow(0 20px 50px rgba(0,0,0,.9));
  }
}

.header-home-image{
  height: 108vh;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}


.header-home-filter{
  background: rgba(172, 12, 12, 0.10);
  mix-blend-mode: normal;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
}

.header-home-title-line{
  text-align: center;
  width: 80%;
  margin: auto;
}

.home-logo{
  // margin-bottom: -65%;
  margin-top: -45%;
  size:80%;
}
