.container-custom{
  margin: -50px auto 30px auto;
  width: 95%;
}

.header-box{
  width: 30%;
  text-align: center;
}

.header-home-title-line{
  margin: auto;
  width: 15%;
  border: 1px solid $white;
  box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.25);
}

.header-home-image{
  height: 108vh;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-home-title{
  font-family: $lora;
  margin-top: -360px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 90px;
  line-height: 124px;
  color: $white;
}

.header-home-filter{
  background: rgba(172, 12, 12, 0.10);
  mix-blend-mode: normal;
  box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.25);
}

#geocoder {
  text-align: left;
  margin-top: 14%;
  z-index: 2;
}

.mapboxgl-ctrl-geocoder { min-width:100%; }


#geocoder {
  .mapboxgl-ctrl-geocoder--input {
    width: 100%;
    font-size: 1.5rem;
    width: 30rem;
    height: 4rem;
    border: none;
    outline: none;
    background-color: $white;
    box-shadow: 0 1rem 2rem rgba(black, .1);
    padding: 1rem;
  // position: relative;
    transition: all .2s;
    transition-delay: .1s;
    border-radius: 4px;
  }

  .mapboxgl-ctrl-geocoder{
    border-radius: 4px;
  }

  .mapboxgl-ctrl-geocoder--icon {
    display:none;
  }

  .mapboxgl-ctrl-geocoder--input::placeholder {
  opacity: .5;
  }
}
