.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}


#geocoder {
  text-align: left;
  position: absolute;
  left: 20px;
  margin-top: 14px;
  z-index:2;
}

.mapboxgl-ctrl-geocoder { min-width:100%; }
