.map{
  margin-top: -20px;
  height: 80vh;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map{
  border-radius: 8px;
  height: 900px !important;
}
