.flex-body{
  display: flex;
  flex: 1;
  flex-direction: row;
}

.quarante-cinq{
  width: 40%;
}

.chat-container{
  width: 60%;
  margin: 0;
  border-left: 1px solid $classicred;
  padding-left: 30px;
  padding-right: 30px;

}

.current-user-custom-row{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  margin-top: 20px;
}

.current-user-message{
  font-family: Alegreya;
  font-style: normal;
  font-size: 22px;
  line-height: 20px;
  color: $white;
  margin-top: 10px;
  width: 42%;
  border-radius: 12px 12px 0 12px;
  background: rgba(172, 12, 12, 0.85);
  padding: 15px;
  word-wrap: break-word;
  margin-bottom: 5px;
}

.other-user-custom-row{
  width: 100%;
  margin-top: 20px;
}

.other-user-message{
  font-family: Alegreya;
  font-style: normal;
  font-size: 22px;
  line-height: 20px;
  color: $classicred;
  margin: 10px 0 0 0;
  width: 42%;
  border-radius: 4px;
  background: rgba(172, 12, 12, 0.1);
  padding: 15px;
  word-wrap: break-word;
  border-radius: 12px 12px 12px 0;
  margin-bottom: 5px;
}

.time-indicator-message{
  font-family: Alegreya;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.6);
}


.new_message{
  // position: absolute;
  // bottom: 0;
  margin-top: 38px;
  margin-bottom: 5px;
  border-radius: 4px;
  width: 100%;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.25);
  font-family: Alegreya;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}
