.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}


.navbar {
  background: linear-gradient(172, 12, 12, 0);
  position: absolute;
  height: 70px;
  width:88%;
  margin: 1em auto;
  left:6%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  z-index:10;
}

.navbar-nav ul {
  margin-top: 0;
  right: 1rem;
  vertical-align: middle;
  margin-right: 15px;
}

.nav-link {
  color:white;
}

.nav-item li {
  display: inline-block;
  justify-content: space-between;
  padding: 10px;
  border-radius: 50%;
  margin-right: 15px;
  margin-left: 15px;
  transition: background 0.3s ease-in;
}

.nav-items li:hover {
  background: rgb(0,0,2);
}

#navbarSupportedContent{

  .dropdown-menu {
  background-color:$redtrois;
  }
}

#dropdown-help {
  color: $white;
  .dropdown-item{
    color:$white;
  }
}
