.scrollbar-custom{
  overflow-y: auto;
  max-height: 680px;
}

.scrollbar-custom::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 8px;
}

.scrollbar-custom::-webkit-scrollbar
{
	width: 4px;
	background-color: #F5F5F5;
}

.scrollbar-custom::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, $classicred),
									   color-stop(0.72, $redsept),
									   color-stop(0.86, $redcinq));
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 8px;
}

body::-webkit-scrollbar
{
	width: 4px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, $classicred),
									   color-stop(0.72, $redsept),
									   color-stop(0.86, $redcinq));
}

.dropdown-content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 8px;
}

.dropdown-content::-webkit-scrollbar
{
	width: 4px;
	background-color: #F5F5F5;
}

.dropdown-content::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, $classicred),
									   color-stop(0.72, $redsept),
									   color-stop(0.86, $redcinq));
}

.modal::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 8px;
}

.modal::-webkit-scrollbar
{
	width: 4px;
	background-color: #F5F5F5;
}

.modal::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, $classicred),
									   color-stop(0.72, $redsept),
									   color-stop(0.86, $redcinq));
}
