/* Contact from message */

position: absolute;
width: 397px;
height: 115px;
left: 1591px;
top: 1184px;



/* Rectangle 2 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;


/* Kimson Doan */

position: absolute;
left: 37.78%;
right: 5.04%;
top: 33.04%;
bottom: 33.04%;

font-family: Alegreya;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 41px;
display: flex;
align-items: center;
text-align: right;

color: #000000;



/* Ellipse */

position: absolute;
left: 5.29%;
right: 70.78%;
top: 8.7%;
bottom: 8.7%;

background: url(kimson-doan-HD8KlyWRYYM-unsplash.jpg);
box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);


/* Line 2 */

position: absolute;
left: 5.29%;
right: 5.04%;
top: 100%;
bottom: 0%;

border: 1px solid #D65555;
box-shadow: 1px 1px 1px rgba(94, 39, 80, 0.25);
