.filter-banner{
  // margin-top: -20px;
  align-items: center;
  height: 70px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  background-color: $white;
  border-radius: 4px 4px 0 0;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 50;
}

.select-wrapper{
  width: 400px;
}

#geocoder .mapboxgl-ctrl-geocoder--input{
  background-color: #faf7f7;
}

.interests-selection{
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.filter-arrow{
  margin: 0 15px 0 15px;
}

.date-selection{
  width: 15%;
  display: flex;
  justify-content: space-around;
}

.datepicker-modal{
  height: inherit;
  border-radius: 4px;
}

.modal{
  border-radius: 4px;
}

.datepicker-modal .modal{
  height: inherit;
}

.datepicker-date-display{
  background-color: $classicred;
}

.modal-content{
  border: none;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
  color: $classicred;
}

.datepicker-table td.is-today{
  color: $classicred;
}

.datepicker-table td.is-selected{
  background-color: $classicred;
  color: $white;
}

body > div.container-custom > div.filter-banner > div.interests-selection > div:nth-child(1) > div > input {
  margin: auto;
  height: 70px;
  border: none;
  font-family: Alegreya;
  font-size: 20px;
}

body > div.container-custom > div.filter-banner > div.interests-selection > div:nth-child(3) > div > input {
  margin: auto;
  height: 70px;
  border: none;
  font-family: Alegreya;
  font-size: 20px;
}

body > div.container-custom > div.filter-banner > div.date-selection > input{
  height: 70px;
  border: none;
  font-family: Alegreya;
  font-size: 20px;
}

.datepicker{
  height: 70px;
  border: none;
  font-family: Alegreya;
  font-size: 20px;
}
