// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body{
  background-color: $white;
  width: 100%
}

ul{
  list-style-type: none;
}

.scrollbar-custom{
  overflow-y: auto;
  height: 600px;
}

.scrollbar-custom::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 8px;
}

.scrollbar-custom::-webkit-scrollbar
{
	width: 4px;
	background-color: #F5F5F5;
}

.scrollbar-custom::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, $classicred),
									   color-stop(0.72, $redsept),
									   color-stop(0.86, $redcinq));
}
